<h3>Bienvenido a <%= title%></h3>
lapaguina donde puede regritrar reclamos...

     <table>
          	<tr>
     		<td>Tipo Rclamo</td>
     		<td>Obserbacion</td>
     		<td>Fecha</td>
     	</tr>
     <% var i; for(i=0;i<reclamos.length; i++) { %>
     	<tr>
               <td><%= i %></td>
     		<td><%= reclamo.tipoReclamo %></td>
     		<td><%= reclamo.observacion %></td>
     		<td><%= reclamo.fecha %></td>
     	</tr>

          <% } %>
     </table>
